# Configuración de la aplicación
SECRET_KEY=tu-clave-secreta-super-segura-cambiar-en-produccion

# Base de datos MariaDB
DATABASE_URL=mysql+pymysql://usuario:password@10.5.1.115:3306/servicio_tecnico

# VAPID Keys para Push Notifications (generar nuevas para producción)
# Puedes generar nuevas claves en: https://vapidkeys.com/
VAPID_PUBLIC_KEY=BEl62iUYgUivxIkv69yViEuiBIa-Ib9-SkvMeAtA3LFgDzkrxZJjSgSnfckjBJuBkr3qBUYIHBQFLXYp5Nksh8U
VAPID_PRIVATE_KEY=Wml2jJSLRKGzm8-BrPJzaW4n1zWh6_KxV-a2zLjvPWI
